{% load static %}
<!DOCTYPE html>
<html dir=”rtl” lang="fa">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"; http-equiv="Content-Language" />
    <link rel="stylesheet" type="text/css" href="{% static "css/shop.css" %}" />

    <link rel="stylesheet" type="text/css" href="{% static "css/cart.css" %}" />
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<!------ Include the above in your HEAD tag ---------->
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "css/extracss.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/footer.css" %}" />

</head>

<body class="bg-gradient">

<div class="container">
  <div class="row">
    <div class="span12">
      <div class="head">
        <div class="row-fluid">
            <div class="span12">
                <div class="span6">
                    <h1 class="muted">شهر من</h1>
                </div>

                <div class="span4 offset2" style="margin-top:15px;">
                    <button class="btn pull-right" type="button">برای ورود به اپلیکیشن شهر من رجوع کنید</button>
                </div>
            </div>
        </div>

        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li>
                            <a href="#">Explore Product</a>
                        </li>

                        <li>
                            <a href="#">Search</a>
                        </li>

                        <li>
                            <a href="#">Features</a>
                        </li>

                        <li>
                            <a href="#">Blog</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!------ Include the above in your HEAD tag ---------->

<div class="container-fluid mt-5" >

            <h1 align="center">
                <strong >
                    سبد خرید
                </strong>
            </h1>

</div>

<div class="container">
	<table id="cart" class="table table-hover table-condensed">
    				<thead>
						<tr>
                            <th style="width:50%"><h4>اشتراک</h4></th>
                            <th style="width:10%"><h4 class="text-center">قیمت</h4></th>
{#							<th style="width:8%">Quantity</th>#}
							<th style="width:33%" class="text-center"><h4 class="text-center">جمع</h4></th>
							<th style="width:10%"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<strong><td data-th="محصول">
								<div class="row">
                                    <div class="col-sm-10">
										<h4 class="nomargin">{{ tariff.title }}</h4>
										<p>{{ tariff.description }}</p>
									</div>
									<div class="col-sm-2 hidden-xs" align="right"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>

								</div>
                            </td></strong>
							<td data-th="قیمت" class="text-center" >{{tariff.price}}</td>
{#							<td data-th="Quantity">#}
{#								<input type="number" class="form-control text-center" value="1">#}
{#							</td>#}
							<td data-th="جمع" class="text-center">{{ tariff.price }}</td>
							<td class="actions" data-th="">
{#								<button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>#}
								<button class="btn btn-danger btn-sm" href="{% url "shop" %}">
                                    <a href="{% url "shop" %}">
                                        حذف
                                    </a></button>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr class="visible-xs">
							<td class="text-center"><strong> جمع: {{ tariff.price }}</strong></td>
						</tr>
						<tr>
							<td><a href="{% url "shop" %}" class="btn btn-warning"> تغییر اشتراک </a></td>
							<td colspan="2" class="hidden-xs"></td>
							<td class="hidden-xs text-center"><strong>جمع: {{ tariff.price }}</strong></td>
							<td><a href="{% url "success" %}" class="btn btn-success btn-block">پرداخت </a></td>
						</tr>
					</tfoot>
				</table>
</div>


<!--footer start from here-->
<footer>
  <div class="container">
    <div class="row">

{#      <div class="col-md-2 col-sm-6 paddingtop-bottom">#}
{#        <h6 class="heading7">GENERAL LINKS</h6>#}
{#        <ul class="footer-ul">#}
{#          <li><a href="http://webenlance.com"> Career</a></li>#}
{#          <li><a href="http://webenlance.com"> Privacy Policy</a></li>#}
{#          <li><a href="http://webenlance.com"> Terms & Conditions</a></li>#}
{#          <li><a href="http://webenlance.com"> Client Gateway</a></li>#}
{#          <li><a href="http://webenlance.com"> Ranking</a></li>#}
{#          <li><a href="http://webenlance.com"> Case Studies</a></li>#}
{#          <li><a href="http://webenlance.com"> Frequently Ask Questions</a></li>#}
{#        </ul>#}
{#      </div>#}
{#      <div class="col-md-3 col-sm-6 paddingtop-bottom">#}
{#        <h6 class="heading7">LATEST POST</h6>#}
{#        <div class="post">#}
{#          <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>#}
{#          <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>#}
{#          <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>#}
{#        </div>#}
{#      </div>#}
      <div class="col-md-12 col-sm-1 paddingtop-bottom">
                <div class="col-md-12 col-sm-12 footerleft ">
        <div class="logofooter"> شهر من</div>
        <p>اپلیکیشن شهر من یک اپلیکیشن تبلیغاتی برای ثبت آگهی می باشد که هم اکنون در حال فعالیت در سطح شهر نوشهر و چالوس می باشد </p>
        <p><i class="fa fa-map-pin"></i>نوشهر - میدان آزادی- خیابان بهرام - کافی نت ترافیک </p>
        <p><i class="fa fa-phone"></i> شماره تماس : 09116799148</p>
        <p><i class="fa fa-envelope"></i> ایمیل: strongsnoop@gmail.com</p>

      </div>
{#        <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">#}
{#          <div class="fb-xfbml-parse-ignore">#}
{#            <blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote>#}
{#          </div>#}
{#        </div>#}
      </div>
    </div>
  </div>
</footer>
<!--footer start from here-->

<div class="copyright">
  <div class="container">
    <div class="col-md-12" >
      <p class="text-center">© 1399 - تمام حقوق مادی و معنوی متعلق به شهر من است</p>
    </div>
{#    <div class="col-md-6">#}
{#      <ul class="bottom_ul">#}
{#        <li><a href="http://webenlance.com">webenlance.com</a></li>#}
{#        <li><a href="http://webenlance.com">About us</a></li>#}
{#        <li><a href="http://webenlance.com">Blog</a></li>#}
{#        <li><a href="http://webenlance.com">Faq's</a></li>#}
{#        <li><a href="http://webenlance.com">Contact us</a></li>#}
{#        <li><a href="http://webenlance.com">Site Map</a></li>#}
{#      </ul>#}
{#    </div>#}
  </div>
</div>
</body>