{% load static %}
<!DOCTYPE html>
<html dir=”rtl” lang="fa">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"; http-equiv="Content-Language" />
    <link rel="stylesheet" type="text/css" href="{% static "css/shop.css" %}" />

    <link rel="stylesheet" type="text/css" href="{% static "css/cart.css" %}" />
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!------ Include the above in your HEAD tag ---------->
<!------ Include the above in your HEAD tag ---------->
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static "css/extracss.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/footer.css" %}" />
</head>


<body class="bg-gradient">


<!------ Include the above in your HEAD tag ---------->
<div class="container-fluid mt-5" >

            <h1 align="center">
                <strong >
                    پلن های تبلیغاتی شهر من
                </strong>
            </h1>

</div>
<div class="container-fluid bg-gradient p-5">

      <div class="row m-auto text-center">
 {% for item in tariff %}
        <div class="col-3 princing-item green mb-3">
          <div class="pricing-divider ">
              <h3 class="text-light">{{ item.title }}</h3>
            <h4 class="my-0 display-2 text-light dnt-weight-normal m-1">{{ item.price }}</h4>
            <h5 class=" text-light ">تومان در ماه</h5>

             <svg class='pricing-divider-img' enable-background='new 0 0 300 100' height='100px' id='Layer_1' preserveAspectRatio='none' version='1.1' viewBox='0 0 300 100' width='300px' x='0px' xml:space='preserve' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' y='0px'>
          <path class='deco-layer deco-layer--1' d='M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
	c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z' fill='#FFFFFF' opacity='0.6'></path>
          <path class='deco-layer deco-layer--2' d='M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
	c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z' fill='#FFFFFF' opacity='0.6'></path>
          <path class='deco-layer deco-layer--3' d='M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
	H42.401L43.415,98.342z' fill='#FFFFFF' opacity='0.7'></path>
          <path class='deco-layer deco-layer--4' d='M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
	c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z' fill='#FFFFFF'></path>
        </svg>
          </div>
          <div class="card-body bg-white mt-0 shadow">
            <ul class="list-unstyled mb-5 position-relative">
              {{ item.description}}
            </ul>
            <button type="button" class="btn btn-lg btn-block  btn-custom ">
                <a href="{% url 'cart' id=item.id %}">
                ثبت و پرداخت
                </a>
            </button>
          </div>
        </div>

   {% endfor %}

{##}
{#        <div class="col-4 princing-item blue">#}
{#          <div class="pricing-divider ">#}
{#              <h3 class="text-light">BUSINESS</h3>#}
{#            <h4 class="my-0 display-2 text-light font-weight-normal mb-3"><span class="h3">$</span> 250 <span class="h5">/mo</span></h4>#}
{#             <svg class='pricing-divider-img' enable-background='new 0 0 300 100' height='100px' id='Layer_1' preserveAspectRatio='none' version='1.1' viewBox='0 0 300 100' width='300px' x='0px' xml:space='preserve' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' y='0px'>#}
{#          <path class='deco-layer deco-layer--1' d='M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729#}
{#	c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z' fill='#FFFFFF' opacity='0.6'></path>#}
{#          <path class='deco-layer deco-layer--2' d='M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729#}
{#	c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z' fill='#FFFFFF' opacity='0.6'></path>#}
{#          <path class='deco-layer deco-layer--3' d='M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716#}
{#	H42.401L43.415,98.342z' fill='#FFFFFF' opacity='0.7'></path>#}
{#          <path class='deco-layer deco-layer--4' d='M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428#}
{#	c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z' fill='#FFFFFF'></path>#}
{#        </svg>#}
{#          </div>#}
{##}
{#          <div class="card-body bg-white mt-0 shadow">#}
{#            <ul class="list-unstyled mb-5 position-relative">#}
{#              <li><b>100 </b>users included</li>#}
{#              <li><b>10 GB</b> of storage</li>#}
{#              <li><b>Free</b>Email support</li>#}
{#              <li><b>Help center access</b></li>#}
{#            </ul>#}
{#            <button type="button" class="btn btn-lg btn-block  btn-custom ">Sign up for free</button>#}
{#          </div>#}
{#        </div>#}
{##}
{##}
{##}
{##}
{##}
{##}
{#        <div class="col-4 princing-item green">#}
{#          <div class="pricing-divider ">#}
{#              <h3 class="text-light">PRO</h3>#}
{#            <h4 class="my-0 display-2 text-light font-weight-normal mb-3"><span class="h3">$</span> 450 <span class="h5">/mo</span></h4>#}
{#             <svg class='pricing-divider-img' enable-background='new 0 0 300 100' height='100px' id='Layer_1' preserveAspectRatio='none' version='1.1' viewBox='0 0 300 100' width='300px' x='0px' xml:space='preserve' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' y='0px'>#}
{#          <path class='deco-layer deco-layer--1' d='M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729#}
{#	c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z' fill='#FFFFFF' opacity='0.6'></path>#}
{#          <path class='deco-layer deco-layer--2' d='M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729#}
{#	c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z' fill='#FFFFFF' opacity='0.6'></path>#}
{#          <path class='deco-layer deco-layer--3' d='M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716#}
{#	H42.401L43.415,98.342z' fill='#FFFFFF' opacity='0.7'></path>#}
{#          <path class='deco-layer deco-layer--4' d='M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428#}
{#	c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z' fill='#FFFFFF'></path>#}
{#        </svg>#}
{#          </div>#}
{##}
{#          <div class="card-body bg-white mt-0 shadow">#}
{#            <ul class="list-unstyled mb-5 position-relative">#}
{#              <li><b>300</b> users included</li>#}
{#              <li><b>20 GB</b> of storage</li>#}
{#              <li><b>Free</b> Email support</li>#}
{#              <li><b>Help center access</b></li>#}
{#            </ul>#}
{#            <button type="button" class="btn btn-lg btn-block  btn-custom ">Sign up for free</button>#}
{#          </div>#}
{#        </div>#}
{##}
{##}
{##}



      </div>
    </div>

<!--footer start from here-->
<footer>
  <div class="container">
    <div class="row">

{#      <div class="col-md-2 col-sm-6 paddingtop-bottom">#}
{#        <h6 class="heading7">GENERAL LINKS</h6>#}
{#        <ul class="footer-ul">#}
{#          <li><a href="http://webenlance.com"> Career</a></li>#}
{#          <li><a href="http://webenlance.com"> Privacy Policy</a></li>#}
{#          <li><a href="http://webenlance.com"> Terms & Conditions</a></li>#}
{#          <li><a href="http://webenlance.com"> Client Gateway</a></li>#}
{#          <li><a href="http://webenlance.com"> Ranking</a></li>#}
{#          <li><a href="http://webenlance.com"> Case Studies</a></li>#}
{#          <li><a href="http://webenlance.com"> Frequently Ask Questions</a></li>#}
{#        </ul>#}
{#      </div>#}
{#      <div class="col-md-3 col-sm-6 paddingtop-bottom">#}
{#        <h6 class="heading7">LATEST POST</h6>#}
{#        <div class="post">#}
{#          <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>#}
{#          <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>#}
{#          <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>#}
{#        </div>#}
{#      </div>#}
      <div class="col-md-12 col-sm-1 paddingtop-bottom">
                <div class="col-md-12 col-sm-12 footerleft ">
        <div class="logofooter"> شهر من</div>
        <p>اپلیکیشن شهر من یک اپلیکیشن تبلیغاتی برای ثبت آگهی می باشد که هم اکنون در حال فعالیت در سطح شهر نوشهر و چالوس می باشد </p>
        <p><i class="fa fa-map-pin"></i>نوشهر - میدان آزادی- خیابان بهرام - کافی نت ترافیک </p>
        <p><i class="fa fa-phone"></i> شماره تماس : 09116799148</p>
        <p><i class="fa fa-envelope"></i> ایمیل: strongsnoop@gmail.com</p>

      </div>
{#        <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">#}
{#          <div class="fb-xfbml-parse-ignore">#}
{#            <blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote>#}
{#          </div>#}
{#        </div>#}
      </div>
    </div>
  </div>
</footer>
<!--footer start from here-->

<div class="copyright">
  <div class="container">
    <div class="col-md-12" >
      <p class="text-center">© 1399 - تمام حقوق مادی و معنوی متعلق به شهر من است</p>
    </div>
{#    <div class="col-md-6">#}
{#      <ul class="bottom_ul">#}
{#        <li><a href="http://webenlance.com">webenlance.com</a></li>#}
{#        <li><a href="http://webenlance.com">About us</a></li>#}
{#        <li><a href="http://webenlance.com">Blog</a></li>#}
{#        <li><a href="http://webenlance.com">Faq's</a></li>#}
{#        <li><a href="http://webenlance.com">Contact us</a></li>#}
{#        <li><a href="http://webenlance.com">Site Map</a></li>#}
{#      </ul>#}
{#    </div>#}
  </div>
</div>
</body>